 <!-- Content Start -->
 <div id="main">
    <!-- Title, Breadcrumb Start-->
    <div class="breadcrumb-wrapper">
       <div class="container">
          <div class="row">
             <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
                <h2 class="title">联系我们</h2>
             </div>
             <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
                <div class="breadcrumbs pull-right">
                   <ul>
                      <li>当前位置</li>
                      <li><a href="/">首页</a></li>
                      <li>联系我们</li>
                   </ul>
                </div>
             </div>
          </div>
       </div>
    </div>
    <!-- Title, Breadcrumb End-->
    <!-- Main Content start-->
    <div class="content">
       <div class="container">
          <div class="row">
             <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12" id="contact-form">
                <h3 class="title">您的只言片语，对我们亦是鼓励！</h3>
                <p>
                   无论是在访问我们的网站，还是在选购我们的球衣，无论您遇到什么问题，均可通过各种途径与我们取得联系。我们的服务7&times;24小时永不间断。
                </p>
                <p>
                   感谢您的耐心和支持。
                </p>
                <div class="divider"></div>
                <form method="post" class="reply" id="contact">
                   <fieldset>
                      <div class="row">
                         <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <label>称呼: <span>*</span></label>
                            <input class="form-control" id="name" name="name" type="text" value="" required>
                         </div>
                         <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <label>邮件: <span>*</span></label>
                            <input class="form-control" type="email" id="email" name="email" value="" required>
                         </div>
                      </div>
                      <div class="row">
                         <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label>主题: <span>*</span></label>
                            <input class="form-control" id="subject" name="subject" type="text" value="" required>
                         </div>
                      </div>
                      <div class="row">
                         <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label>留言: <span>*</span></label>
                            <textarea class="form-control" id="text" name="text" rows="3" cols="40" required></textarea>
                         </div>
                      </div>
                   </fieldset>
                   <button class="btn-normal btn-color submit  bottom-pad" type="submit">发送</button>
                   <div class="success alert-success alert" style="display:none">留言发送成功</div>
                   <div class="error alert-error alert" style="display:none">请使用合法的邮件地址，并一次留言不要超过200字。</div>
                   <div class="clearfix">
                   </div>
                </form>
             </div>
             <div class="col-lg-4 col-md-4 col-xs-12 col-sm-6">
                <div class="address widget">
                   <h3 class="title">办公地点</h3>
                   <ul class="contact-us">
                      <li>
                         <i class="icon-map-marker"></i>
                         <p>
                            <strong>联系地址：</strong> 北京市朝阳区，和平东桥 <br>
                           北京服装学院
                         </p>
                      </li>
                      <li>
                         <i class="icon-phone"></i>
                         <p>
                            <strong>联系电话：</strong> 010 8888 8888
                         </p>
                      </li>
                      <li>
                         <i class="icon-envelope"></i>
                         <p>
                            <strong>邮箱地址：</strong><a href="mailto:info@xline.com">info@xline.com</a>
                         </p>
                      </li>
                   </ul>
                </div>
                <div class="contact-info widget">
                   <h3 class="title">营业时间</h3>
                   <ul>
                      <li><i class="fa fa-clock-o"> </i>周一 - 周五 早9点 至 晚5点</li>
                      <li><i class="fa fa-clock-o"> </i>周六 - 早9点 至 下午2点</li>
                      <li><i class="fa fa-ban"> </i>周日 - 休息</li>
                   </ul>
                </div>
                <div class="follow widget">
                   <h3 class="title">关注我们</h3>
                   <div class="member-social dark">
                     <a href="http://weibo.com/meathill" class="weibo"><i class="fa fa-weibo"></i></a>
                     <a href="http://www.renren.com/247814854" class="renren"><i class="fa fa-renren"></i></a>
                     <a href="#"><i class="icon-wechat" class="wechat"></i></a>
                     <a href="http://www.douban.com/people/meathill/" class="douban"><i class="icon-douban"></i></a>
                     <a href="http://t.qq.com/meathill" class="t-qq"><i class="icon-qq-weibo"></i></a>
                   </div>
                </div>
             </div>
          </div>
          <div class="row">
             <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h3 class="title">地址</h3>
                <div id="maps" class="google-maps">
                </div>
                <!-- Left Section End -->
             </div>
          </div>
          <div class="divider"></div>
       </div>
    </div>
    <!-- Main Content end-->
 </div>
 <!-- Content End -->