<!-- Content Start -->
<div id="main">
  <!-- Title, Breadcrumb Start-->
  <div class="breadcrumb-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
          <h2 class="title">常见问题</h2>
        </div>
        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
          <div class="breadcrumbs pull-right">
            <ul>
              <li>当前位置：</li>
              <li><a href="/">首页</a></li>
              <li>常见问题</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Title, Breadcrumb End-->
  <!-- Main Content start-->
  <div class="content">
    <div class="container">
      <div class="row">
        <div class="posts-block col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <article>
            <h3 class="title">你好，欢迎</h3>

            <div class="post-content">
              <p>
                广大网友在订制队服、下单购买时难免遇到各种问题，我们随时恭候大家的问询。<br>
                以下是我们整理的，过去一段时间内大家最常遇到的问题，抽空看一看，相信可以帮您解决绝大部分疑惑和问题。
              </p>
            </div>
          </article>
        </div>
        <!-- Left Section End -->
      </div>
      <!-- 2 Column Testimonials -->
      <div class="row">
        <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
          <div class="accordionMod panel-group" id="faqs">
            {{#faqs}}
            <div class="accordion-item panel panel-default">
              <div class="panel-heading">
                <h4 class="accordion-toggle" data-toggle="collapse" data-parent="#faqs" data-target="#answer-{{index}}">{{title}}</h4>
              </div>
              <div id="answer-{{index}}" class="panel-collapse collapse {{in}}">
                <section class="accordion-inner panel-body">
                  {{{content}}}
                </section>
              </div>
            </div>
            {{/faqs}}
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
          <div class="contact-box widget">
            <h3>没能找到答案？</h3>
            <i class="fa fa-envelope"></i>

            <p><a href="/contact">直接给我们留言吧。</a></p>
          </div>
          <div class="contact-box widget">
            <h3>营业时间</h3>
            <i class="fa fa-clock-o"> </i>
            <ul>
              <li>周一 - 周五 早9点 至 晚5点</li>
              <li>周六 - 早9点 至 下午2点</li>
              <li>周日 - 休息</li>
            </ul>
          </div>
        </div>
      </div>
      <!-- contact box end End-->
    </div>
  </div>
  <!-- Main Content end-->
</div>
<!-- Content End -->