<!-- Footer Start -->
<footer id="footer">
  <!-- Footer Top Start -->
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <section class="col-lg-3 col-md-3 col-xs-12 col-sm-3 footer-one">
          <h3>关注我们</h3>

          <p>
            <img src="../img/qrcode.jpg" width="150" height="150" />
          </p>
          <p>
            关注我们的微信公众账号，随时了解XLine的最新动态，获取最优价格优惠。
          </p>
        </section>
        <section class="col-lg-3 col-md-3 col-xs-12 col-sm-3 footer-two">
          <h3>公司新闻</h3>
          <ul id="tweets">
            {{#blog}}
            <li><a href="{{link}}" title="{{title}}">{{title}}</a> （{{date}}）</li>
            {{/blog}}
          </ul>
        </section>
        <section class="col-lg-3 col-md-3 col-xs-12 col-sm-3 footer-three">
          <h3>联系我们</h3>
          <ul class="contact-us">
            <li>
              <i class="fa fa-map-marker"></i>

              <p>
                <strong>地址:</strong> 北京市朝阳区, <br>
                和平东桥北京服装学院
              </p>
            </li>
            <li>
              <i class="fa fa-phone"></i>

              <p><strong>电话:</strong> (+86) 400 005 0021</p>
            </li>
            <li>
              <i class="fa fa-envelope"></i>

              <p><strong>邮箱:</strong><a href="mailto:official@xline.com.cn">official@xline.com.cn</a></p>
            </li>
            <li>
              <a href="/contact" class="btn btn-pad btn-grey"><i class="fa fa-edit"></i> 给我们留言</a>
            </li>
          </ul>
        </section>
        <section class="col-lg-3 col-md-3 col-xs-12 col-sm-3 footer-four">
          <h3>采购指南</h3>
          <ul class="links">
            <li><a href="/faq"><i class="fa fa-fw fa-question"></i> 常见问题</a></li>
            <li><a href="/faq"><i class="fa fa-fw fa-list-ol"></i> 购物流程</a></li>
          </ul>
        </section>
      </div>
    </div>
  </div>
  <!-- Footer Top End -->
  <!-- Footer Bottom Start -->
  <div class="footer-bottom">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6 "> &copy; Copyright 2014 by <a href="/">XLine.com</a> 保留一切权利。
        </div>
        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6 ">
          <ul class="social social-icons-footer-bottom">
            <li class="weibo"><a href="http://weibo.com/meathill" data-toggle="tooltip" title="新浪微博"><i class="fa fa-weibo"></i></a></li>
            <li class="renren"><a href="http://www.renren.com/247814854" data-toggle="tooltip" title="人人网"><i class="fa fa-renren"></i></a></li>
            <li class="douban"><a href="http://www.douban.com/people/meathill/" data-toggle="tooltip" title="豆瓣"><i class="icon-douban"></i></a></li>
            <li class="t-qq"><a href="http://t.qq.com/meathill" data-toggle="tooltip" title="腾讯微博"><i class="icon-qq-weibo"></i></a>
            <li class="wechat"><a href="#wechat-modal" data-toggle="modal" title="微信"><i class="icon-wechat"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- Footer Bottom End -->
</footer>
<!-- 微信二维码popup -->
<div class="modal fade" id="wechat-modal" tabindex="-1" role="dialog" aria-labelledby="wechat-modal-title" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="wechat-modal-title">微信公众账号</h4>
      </div>
      <div class="modal-body">
        <p><img src="../img/qrcode.jpg" width="100%"></p>
        <p>关注我们的微信公众账号，随时随地了解XLine的最新动态，还有机会享受最优折扣哦！</p>
      </div>
    </div>
  </div>
</div>
<!-- Scroll To Top -->
<a href="#" class="scrollup"><i class="fa fa-angle-up"></i></a>
<!-- The Scripts -->
<script src="//cdn.staticfile.org/jquery/2.1.0/jquery.min.js"></script>
<script src="//cdn.staticfile.org/twitter-bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script src="//cdn.staticfile.org/jquery-parallax/1.1.3/jquery-parallax-min.js"></script>
<script src="//cdn.staticfile.org/modernizr/2.7.1/modernizr.min.js"></script>
<script src="../js/revolution-slider/js/jquery.themepunch.revolution.min.js"></script>
<script src="//cdn.staticfile.org/jquery-nivoslider/3.2/jquery.nivo.slider.pack.js"></script>
<script src="../js/jquery.prettyPhoto.js"></script>
<script src="//cdn.staticfile.org/superfish/1.7.4/superfish.min.js"></script>
<script src="../js/tytabs.js"></script>
<script src="../js/jquery.gmap.min.js"></script>
<script src="../js/circularnav.js"></script>
<script src="../js/jquery.sticky.js"></script>
<script src="//cdn.staticfile.org/imagesloaded/3.0.4/imagesloaded.pkgd.js"></script>
<script src="//cdn.staticfile.org/waypoints/2.0.3/waypoints.min.js"></script>
<script src="../js/custom.js"></script>