<!DOCTYPE html>
<!--[if IE 8]><html class="ie ie8"> <![endif]-->
<!--[if IE 9]><html class="ie ie9"> <![endif]-->

<meta charset="utf-8">
<title>{{title}}</title>
<meta name="description" content="XLine致力为中国热爱运动的朋友提供高质量的定制球衣。">
<meta name="author" content="Meathill(http://meathill.com/)">
<!-- Mobile Metas -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Google Fonts -->
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
<!-- Library CSS -->
<link rel="stylesheet" href="//cdn.staticfile.org/twitter-bootstrap/3.1.1/css/bootstrap.css">
<link rel="stylesheet" href="//lib.sinaapp.com/js/wlige/style.css">
<link rel="stylesheet" href="//cdn.staticfile.org/font-awesome/4.0.3/css/font-awesome.css">
<link rel="stylesheet" href="../css/animations.css" media="screen">
<link rel="stylesheet" href="//cdn.staticfile.org/superfish/1.7.4/superfish.min.css" media="screen">
<link rel="stylesheet" href="../css/revolution-slider/css/settings.css" media="screen">
<link rel="stylesheet" href="../css/prettyPhoto.css" media="screen">
<!-- Theme CSS -->
<link rel="stylesheet" href="../css/style.css">
<!-- Skin -->
<link rel="stylesheet" href="../css/colors/gray.css">
<!-- Responsive CSS -->
<link rel="stylesheet" href="../css/theme-responsive.css">
<!-- Favicons -->
<link rel="shortcut icon" type="image/png" href="../img/ico/favicon.png">
<link rel="apple-touch-icon" href="../img/ico/apple-touch-icon.png">
<link rel="apple-touch-icon" sizes="72x72" href="../img/ico/apple-touch-fa fa-72.png">
<link rel="apple-touch-icon" sizes="114x114" href="../img/ico/apple-touch-fa fa-114.png">
<link rel="apple-touch-icon" sizes="144x144" href="../img/ico/apple-touch-fa fa-144.png">
<!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
<script src="../js/respond.min.js"></script>
<![endif]-->
<!--[if IE]>
<link rel="stylesheet" href="../css/ie.css">
<![endif]-->

<!-- Header Start -->
<header id="header">
  <!-- Header Top Bar Start -->
  <div class="top-bar">
    <div class="slidedown collapse">
      <div class="container">
        <div class="phone-email pull-left">
          <a><i class="fa fa-phone"></i> 客服电话 : (+86) 400 005 0021</a>
          <a href="mailto:service@xline.com.cn"><i class="fa fa-envelope"></i> 客服邮箱 : service@xline.com.cn</a>
          <span></span>
        </div>
        <div class="pull-right">
          <ul class="social pull-left">
            <li class="weibo"><a href="http://weibo.com/meathill"><i class="fa fa-weibo"></i></a></li>
            <li class="renren"><a href="http://www.renren.com/247814854"><i class="fa fa-renren"></i></a></li>
            <li class="douban"><a href="http://www.douban.com/people/meathill/"><i class="icon-douban"></i></a></li>
            <li class="t-qq"><a href="http://t.qq.com/meathill"><i class="icon-qq-weibo"></i></a></li>
            <li class="wechat"><a href="#wechat-modal" data-toggle="modal"><i class="icon-wechat"></i></a></li>
          </ul>
          <div id="search-form" class="pull-right">
            <form action="#" method="get">
              <input type="text" class="search-text-box">
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Header Top Bar End -->
  <!-- Main Header Start -->
  <div class="main-header">
    <div class="container">
      <!-- TopNav Start -->
      <div class="topnav navbar-header">
        <a class="navbar-toggle down-button" data-toggle="collapse" data-target=".slidedown">
          <i class="fa fa-angle-down fa-current"></i>
        </a>
      </div>
      <!-- TopNav End -->
      <!-- Logo Start -->
      <div class="logo pull-left">
        <h1>
          <a href="index.html">
            <img src="../img/logo.png" alt="XLine" height="80">
          </a>
        </h1>
        <h2><i class="fa fa-flash"></i> <strong>8</strong>天定制闪电发货!!</h2>
      </div>
      <!-- Logo End -->
      <!-- Mobile Menu Start -->
      <div class="mobile navbar-header">
        <a class="navbar-toggle" data-toggle="collapse" href=".navbar-collapse">
          <i class="fa fa-reorder fa fa-2x"></i>
        </a>
      </div>
      <!-- Mobile Menu End -->
      <!-- Menu Start -->
      <nav class="collapse navbar-collapse menu">
        <ul class="nav navbar-nav sf-menu">
          <li>
            <a id="current" href="/">
              首页
            </a>
          </li>
          <li>
            <a href="/diy" class="sf-with-ul">
              队服定制
            </a>
          </li>
          <li>
            <a href="/teams" class="sf-with-ul">
              XLine球队秀
            </a>
          </li>
          <li>
            <a href="#" class="sf-with-ul">
              个人中心
                         <span class="sf-sub-indicator">
                         <i class="fa fa-angle-down "></i>
                         </span>
            </a>
            <ul>
              <li><a href="/profile" class="sf-with-ul"><i class="fa fa-user"></i> 个人信息</a></li>
              <li><a href="/history" class="sf-with-ul"><i class="fa fa-list"></i> 我的衣柜</a></li>
              <li><a href="/chart" class="sf-with-ul"><i class="fa fa-shopping-cart"></i> 购物车</a></li>
            </ul>
          </li>
        </ul>
      </nav>
      <!-- Menu End -->
    </div>
  </div>
  <!-- Main Header End -->
</header>
<!-- Header End -->