<!DOCTYPE html>
<!--[if IE 8]>
<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>
<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->
<html> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <title>Pixma Responsive HTML5/CSS3 Template | FIFO THEMES</title>
  <meta name="description" content="Pixma Responsive HTML5/CSS3 Template from FIFOTHEMES.COM">
  <meta name="author" content="FIFOTHEMES.COM">
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Google Fonts -->
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
  <!-- Library CSS -->
  <link rel="stylesheet" href="//cdn.staticfile.org/twitter-bootstrap/3.0.0/css/bootstrap.css">
  <link rel="stylesheet" href="//lib.sinaapp.com/js/wlige/style.css">
  <link rel="stylesheet" href="//cdn.staticfile.org/font-awesome/4.0.0/css/font-awesome.css">
  <link rel="stylesheet" href="../css/animations.css" media="screen">
  <link rel="stylesheet" href="../css/superfish.css" media="screen">
  <link rel="stylesheet" href="../css/revolution-slider/css/settings.css" media="screen">
  <link rel="stylesheet" href="../css/prettyPhoto.css" media="screen">
  <!-- Theme CSS -->
  <link rel="stylesheet" href="../css/style.css">
  <!-- Skin -->
  <link rel="stylesheet" href="../css/colors/gray.css">
  <!-- Responsive CSS -->
  <link rel="stylesheet" href="../css/theme-responsive.css">
  <!-- Favicons -->
  <link rel="shortcut icon" href="../img/ico/favicon.ico">
  <link rel="apple-touch-icon" href="../img/ico/apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="72x72" href="../img/ico/apple-touch-fa fa-72.png">
  <link rel="apple-touch-icon" sizes="114x114" href="../img/ico/apple-touch-fa fa-114.png">
  <link rel="apple-touch-icon" sizes="144x144" href="../img/ico/apple-touch-fa fa-144.png">
  <!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
  <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <script src="../js/respond.min.js"></script>
  <![endif]-->
  <!--[if IE]>
  <link rel="stylesheet" href="../css/ie.css">
  <![endif]-->
</head>
<body class="home">
<div class="wrap">
<!-- Header Start -->
<header id="header">
  <!-- Header Top Bar Start -->
  <div class="top-bar">
    <div class="slidedown collapse">
      <div class="container">
        <div class="phone-email pull-left">
          <a><i class="fa fa-phone"></i> Call Us : +86 010 8888 8888</a>
          <a href="mail@example.com"><i class="fa fa-envelope"></i> Email : service@lineid.com</a>
        </div>
        <div class="pull-right">
          <ul class="social pull-left">
            <li class="新浪微博"><a href="http://weibo.com/meathill"><i class="fa fa-weibo"></i></a></li>
            <li class="人人网"><a href="http://www.renren.com/247814854"><i class="fa fa-renren"></i></a></li>
            <li class="微信"><a href="#"><i class="icon-wechat"></i></a></li>
            <li class="豆瓣"><a href="http://www.douban.com/people/meathill/"><i class="icon-douban"></i></a></li>
            <li class="腾讯微博"><a href="http://t.qq.com/meathill"><i class="icon-qq-weibo"></i></a></li>
          </ul>
          <div id="search-form" class="pull-right">
            <form action="#" method="get">
              <input type="text" class="search-text-box">
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Header Top Bar End -->
  <!-- Main Header Start -->
  <div class="main-header">
    <div class="container">
      <!-- TopNav Start -->
      <div class="topnav navbar-header">
        <a class="navbar-toggle down-button" data-toggle="collapse" data-target=".slidedown">
          <i class="fa fa-angle-down fa-current"></i>
        </a>
      </div>
      <!-- TopNav End -->
      <!-- Logo Start -->
      <div class="logo pull-left">
        <h1>
          <a href="index.html">
            <img src="../img/logo.png" alt="pixma" width="125" height="60">
          </a>
        </h1>
      </div>
      <!-- Logo End -->
      <!-- Mobile Menu Start -->
      <div class="mobile navbar-header">
        <a class="navbar-toggle" data-toggle="collapse" href=".navbar-collapse">
          <i class="fa fa-reorder fa fa-2x"></i>
        </a>
      </div>
      <!-- Mobile Menu End -->
      <!-- Menu Start -->
      <nav class="collapse navbar-collapse menu">
        <ul class="nav navbar-nav sf-menu">
          <li>
            <a id="current" href="/">
              首页
            </a>
          </li>
          <li>
            <a href="/products" class="sf-with-ul">
              霸气衣库
            </a>
          </li>
          <li>
            <a href="/diy" class="sf-with-ul">
              定制球衣
            </a>
          </li>
          <li>
            <a href="#" class="sf-with-ul">
              个人中心
                           <span class="sf-sub-indicator">
                           <i class="fa fa-angle-down "></i>
                           </span>
            </a>
            <ul>
              <li><a href="/profile" class="sf-with-ul"><i class="fa fa-user"></i> 个人信息</a></li>
              <li><a href="/history" class="sf-with-ul"><i class="fa fa-list"></i> 我的衣柜</a></li>
              <li><a href="/chart" class="sf-with-ul"><i class="fa fa-shopping-cart"></i> 购物车</a></li>
            </ul>
          </li>
        </ul>
      </nav>
      <!-- Menu End -->
    </div>
  </div>
  <!-- Main Header End -->
</header>
<!-- Header End -->
<!-- Content Start -->
<div id="main">
<!-- Slider Start-->
<div class="fullwidthbanner-container">
  <div class="fullwidthbanner rslider">
    <ul>
      <!-- THE FIRST SLIDE -->
      <li data-delay="6000" data-masterspeed="300" data-transition="fade">
        <div class="slotholder"><img src="../img/slider/slider-bg-1.jpg" data-fullwidthcentering="on" alt="Pixma"></div>
        <div class="caption modern_big_bluebg h1 lft tp-caption start"
             data-x="40"
             data-y="75"
             data-speed="700"
             data-endspeed="800"
             data-start="1000"
             data-easing="easeOutQuint"
             data-endeasing="easeOutQuint">
          <h3>超高品质的珍品定制球衣</h3>
        </div>
        <div class="caption list_slide lfb tp-caption start"
             data-easing="easeOutExpo"
             data-start="1400"
             data-speed="1050"
             data-y="170"
             data-x="40">
          <div class="list-slide">
            <i class="fa fa-thumbs-o-up slide-icon"></i>
            <h5 class="dblue">由韩国进口的高级面料和印花</h5>
          </div>
        </div>
        <div class="caption list_slide lfb tp-caption start"
             data-easing="easeOutExpo"
             data-start="1800"
             data-speed="1200"
             data-y="210"
             data-x="40">
          <div class="list-slide">
            <i class="fa fa-thumbs-o-up slide-icon"></i>
            <h5 class="dblue">国内一级代工厂负责制作</h5>
          </div>
        </div>
        <div class="caption list_slide lfb tp-caption start"
             data-easing="easeOutExpo"
             data-start="2200"
             data-speed="1350"
             data-y="250"
             data-x="40">
          <div class="list-slide">
            <i class="fa fa-thumbs-o-up slide-icon"></i>
            <h5 class="dblue">北京服装学院高级设计师打版设计</h5>
          </div>
        </div>
        <div class="caption list_slide lfb tp-caption start" data-easing="easeOutExpo" data-start="2600" data-speed="1500" data-y="290" data-x="40">
          <div class="list-slide">
            <i class="fa fa-thumbs-o-up slide-icon"></i>
            <h5 class="dblue">完全自主选择面料、颜色、号码、配饰</h5>
          </div>
        </div>
        <div class="caption lfb caption_button_1 fadeout tp-caption start"
             data-x="40"
             data-y="350"
             data-speed="900"
             data-endspeed="300"
             data-start="3100"
             data-hoffset="-70"
             data-easing="easeOutExpo">
          <a class="btn-special hidden-xs btn-grey" href="/about">了解更多</a>
        </div>
        <div class="caption lfb caption_button_2 fadeout tp-caption start"
             data-x="210"
             data-y="350"
             data-speed="800"
             data-endspeed="300"
             data-start="3100"
             data-hoffset="70"
             data-easing="easeOutExpo">
          <a class="btn-special hidden-xs btn-color" href="/diy">开始定制</a>
        </div>
      </li>
      <!-- THE RESPONSIVE SLIDE -->
      <li data-transition="fade" data-slotamount="1" data-masterspeed="300">
        <img src="../img/slider/slider-bg-2.jpg" data-fullwidthcentering="on" alt="">

        <div class="caption large_text sft"
             data-x="660"
             data-y="54"
             data-speed="300"
             data-start="800"
             data-easing="easeOutExpo">专业且尽职的
        </div>
        <div class="caption large_text sfr"
             data-x="738"
             data-y="96"
             data-speed="300"
             data-start="1100"
             data-easing="easeOutExpo"><span class="dblue">电商运营团队</span></div>
        <div class="caption list_slide lfb tp-caption start"
             data-easing="easeOutExpo"
             data-start="1400"
             data-speed="1050"
             data-y="180"
             data-x="660">
          <div class="list-slide">
            <i class="fa fa-thumbs-o-up slide-icon"></i>
            <h5>下单既生产</h5>
          </div>
        </div>
        <div class="caption list_slide lfb tp-caption start"
             data-easing="easeOutExpo"
             data-start="1800"
             data-speed="1200"
             data-y="220"
             data-x="660">
          <div class="list-slide">
            <i class="fa fa-thumbs-o-up slide-icon"></i>
            <h5>一周内完工</h5>
          </div>
        </div>
        <div class="caption list_slide lfb tp-caption start"
             data-easing="easeOutExpo"
             data-start="2200"
             data-speed="1350"
             data-y="260"
             data-x="660">
          <div class="list-slide">
            <i class="fa fa-thumbs-o-up slide-icon"></i>
            <h5>全国满500包顺丰</h5>
          </div>
        </div>
        <div class="caption list_slide lfb tp-caption start"
             data-easing="easeOutExpo"
             data-start="2600"
             data-speed="1350"
             data-y="300"
             data-x="660">
          <div class="list-slide">
            <i class="fa fa-thumbs-o-up slide-icon"></i>
            <h5>不满意可退换</h5>
          </div>
        </div>
        <div class="caption list_slide lfb tp-caption start"
             data-easing="easeOutExpo"
             data-start="3000"
             data-speed="1350"
             data-y="340"
             data-x="660">
          <div class="list-slide">
            <i class="fa fa-thumbs-o-up slide-icon"></i>
            <h5>客服覆盖全平台</h5>
          </div>
        </div>
        <div class="caption lfl"
             data-x="53"
             data-y="30"
             data-speed="300"
             data-start="1400"
             data-easing="easeOutExpo">
          <img src="../img/slider/responsive-imac.png" alt="iMac Responsive">
        </div>
        <div class="caption lfl"
             data-x="323"
             data-y="145"
             data-speed="300"
             data-start="1500"
             data-easing="easeOutExpo">
          <img src="../img/slider/responsive-ipad.png" alt="iPad Responsive">
        </div>
        <div class="caption lfl"
             data-x="472"
             data-y="253"
             data-speed="300"
             data-start="1600"
             data-easing="easeOutExpo">
          <img src="../img/slider/responsive-iphone.png" alt="iPhone Responsive">
        </div>
      </li>
    </ul>
  </div>
</div>
<!-- Slider End-->
<!-- Slogan Start-->
<div class="slogan bottom-pad-small">
  <div class="container">
    <div class="row">
      <div class="slogan-content">
        <div class="col-lg-9 col-md-9">
          <h2 class="slogan-title">想拥有独一无二的高品质定制球衣？</h2>
        </div>
        <div class="col-lg-3 col-md-3">
          <div class="get-started">
            <button class="btn btn-special btn-color pull-right">立刻动手设计吧！</button>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
<!-- Slogan End-->
<!-- Main Content start-->
<div class="main-content">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="content-box big ch-item bottom-pad-small">
          <div class="ch-info-wrap">
            <div class="ch-info">
              <div class="ch-info-front ch-img-1"><i class="fa fa-fullscreen"></i></div>
              <div class="ch-info-back">
                <i class="fa fa-fullscreen"></i>
              </div>
            </div>
          </div>
          <div class="content-box-info">
            <h3>定制球衣</h3>

            <p>
              我们也曾在阳光下奔跑，球场上的一点一滴，都已化作我们最珍贵的回忆。<br />
              球场上有泪水，也有汗水；有开心的欢笑，也有愤怒的咆哮。<br />
              看着柜子里独特的球衣，属于自己的号码，虽已破旧，但都带着从一个地方，来到另一个地方，不忍丢弃。<br />
              它们已经不只是球衣，他们是伙伴，是哥们，是弟兄。
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="content-box big ch-item bottom-pad-small">
          <div class="ch-info-wrap">
            <div class="ch-info">
              <div class="ch-info-front ch-img-1"><i class="fa fa-eye-open"></i></div>
              <div class="ch-info-back">
                <i class="fa fa-eye-open"></i>
              </div>
            </div>
          </div>
          <div class="content-box-info">
            <h3>高品质球衣</h3>

            <p>
              也曾羡慕耐克阿迪的修身与吸汗，然而款式太少，满大街的国家队俱乐部，不知真假。<br />
              也曾动批五道口，一买数件拿去印号，然而布料粗糙，号码一洗就掉。<br />
              如果能把二者的优点结合起来，那当真是极好的啊！<br />
              蓝派为此而生！<br />
              认真选材，精心设计，严格生产，快速送货。像专卖店一样美好！不，是更美好！！
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="content-box big ch-item">
          <div class="ch-info-wrap">
            <div class="ch-info">
              <div class="ch-info-front ch-img-1"><i class="fa fa-edit"></i></div>
              <div class="ch-info-back">
                <i class="fa fa-edit"></i>
              </div>
            </div>
          </div>
          <div class="content-box-info">
            <h3>我们在创业</h3>

            <p>
              如之前所说，蓝派为梦想而生。<br />
              我们梦想，能有更多人的享受运动，享受运动带来的快乐和健康。<br />
              我们梦想，能有更多人在运动中结交朋友，定制兄弟们的球衣，写下自己的传奇。<br />
              我们梦想，能聚合特别多热爱运动的人们，在一个平台上，实现很多很多具体的功能，让大家能够尽情运动。<br />
              我们梦想，能帮助别人实现梦想。
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Main Content end-->
<!-- Recent works start-->
<div class="recentworks bottom-pad">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 animate_afl d1">
        <div class="portfolio-desc">
          <h3 class="title">近期热门</h3>

          <p>
            在蓝派，您不仅是顾客，也是设计师。您精心设计的队服，不仅是您团队的特征，更有机会成为他人竞相效仿的榜样。*<br />
            这里展示的就是最近热门的球衣设计，相信能激发您的灵感。
          </p>
          <p>
            <small>* 您当然可以不公开您的设计，只要在创作完成时勾选即可。</small>
          </p>

          <div class="carousel-controls">
            <a class="prev" href="#portfolio-carousel" data-slide="prev"><i class="fa fa-angle-left"></i></a>
            <a class="next" href="#portfolio-carousel" data-slide="next"><i class="fa fa-angle-right"></i></a>

            <div class="clearfix"></div>
          </div>
        </div>
      </div>
      <div class="col-lg-9 col-md-9 col-xs-12">
        <div class="row">
          <div id="portfolio-carousel" class="portfolio-carousel slide">
            <div class="carousel-inner">
              <div class="item active">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 item animate_afc d2">
                  <div class="portfolio-item">
                    <a href="../img/portfolio/img-portfolio.jpg" class="portfolio-item-link" data-rel="prettyPhoto">
                      <span class="portfolio-item-hover"></span>
                      <span class="fullscreen"><i class="fa fa-search"></i></span><img
                      src="../img/portfolio/img-portfolio.jpg" alt=" "/>
                    </a>

                    <div class="portfolio-item-title">
                      <a href="single-project.html">Insta Genius</a>

                      <p>
                        Design / Development
                      </p>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 item animate_afc d3">
                  <div class="portfolio-item">
                    <a href="../img/portfolio/img-portfolio.jpg" class="portfolio-item-link" data-rel="prettyPhoto">
                      <span class="portfolio-item-hover"></span><span class="fullscreen"><i
                      class="fa fa-search"></i></span><img src="../img/portfolio/img-portfolio.jpg" alt=" "/>
                    </a>

                    <div class="portfolio-item-title">
                      <a href="single-project.html">YA Sound</a>

                      <p>
                        Sound / Audio
                      </p>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 item animate_afc d4">
                  <div class="portfolio-item">
                    <a href="../img/portfolio/img-portfolio.jpg" class="portfolio-item-link" data-rel="prettyPhoto">
                      <span class="portfolio-item-hover"></span><span class="fullscreen"><i
                      class="fa fa-search"></i></span><img src="../img/portfolio/img-portfolio.jpg" alt=" "/>
                    </a>

                    <div class="portfolio-item-title">
                      <a href="single-project.html">Nike Shoe</a>

                      <p>
                        Apareal / Shoe
                      </p>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 item">
                  <div class="portfolio-item">
                    <a href="../img/portfolio/img-portfolio.jpg" class="portfolio-item-link" data-rel="prettyPhoto">
                      <span class="portfolio-item-hover"></span><span class="fullscreen"><i
                      class="fa fa-search"></i></span><img src="../img/portfolio/img-portfolio.jpg" alt=" "/>
                    </a>

                    <div class="portfolio-item-title">
                      <a href="single-project.html">Camera Icon</a>

                      <p>
                        Icon / Device
                      </p>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 item">
                  <div class="portfolio-item">
                    <a href="../img/portfolio/img-portfolio.jpg" class="portfolio-item-link" data-rel="prettyPhoto">
                      <span class="portfolio-item-hover"></span><span class="fullscreen"><i
                      class="fa fa-search"></i></span><img src="../img/portfolio/img-portfolio.jpg" alt=" "/>
                    </a>

                    <div class="portfolio-item-title">
                      <a href="single-project.html">Penguin</a>

                      <p>
                        Animal / Nature
                      </p>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 item">
                  <div class="portfolio-item">
                    <a href="../img/portfolio/img-portfolio.jpg" class="portfolio-item-link" data-rel="prettyPhoto">
                      <span class="portfolio-item-hover"></span><span class="fullscreen"><i
                      class="fa fa-search"></i></span><img src="../img/portfolio/img-portfolio.jpg" alt=" "/>
                    </a>

                    <div class="portfolio-item-title">
                      <a href="single-project.html">Sound Box</a>

                      <p>
                        Audio / Sound
                      </p>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Recent work end-->
<!-- Features start -->
<div class="features bottom-pad">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h3 class="title">高品质的来源</h3>

        <div class="row">
          <div class="circular-nav">
            <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 animate_afl">
              <div id="cn-tabs">
                <div class="service service-1">
                  <div class="cn-content">
                    <h4>高品质的进口面料</h4>

                    <p>使用韩国进口的高级面料，保证吸汗、速干，多次洗涤不变型。不谦虚的说，耐克阿迪的品质也没法比我们更好。</p>

                    <div class="clearfix"></div>
                  </div>
                  <div class="clearfix"></div>
                </div>
                <div class="service service-2">
                  <div class="cn-content">
                    <h4>高标准设计</h4>

                    <p>我们请来了北京服装学院的高级设计师，使用专业设计软件，制作了各种版型的球衣。绝非一般街头小厂比葫芦画瓢的设计所能比拟。</p>

                    <div class="clearfix"></div>
                  </div>
                </div>
                <div class="service service-3">
                  <div class="cn-content">
                    <h4>专业运动员试穿</h4>

                    <p>我们还请来了专业运动员帮我们试穿，针对他们的身型和实际运动需求进行调整，直到穿着体验比肩甚至超越耐克阿迪等一流品牌。</p>
                    <p>我们仍不满足，我们相信，版型只有更好没有最好。</p>
                  </div>
                  <div class="clearfix"></div>
                </div>
                <div class="service service-4">
                  <div class="cn-content">
                    <h4>一流代工厂生产</h4>

                    <p>前面如此用心后续环节自然也不会差。确定版型之后，我们找到了国内一流的代工工厂，保证出品和设计完全一致。</p>
                    <p>所有生产环节都采用最高标准，同样的生产线也在承担国际大牌服装的生产，最终出品自然有所保障。</p>
                  </div>
                  <div class="clearfix"></div>
                </div>
                <div class="service service-5">
                  <div class="cn-content">
                    <h4>高品质印号服务</h4>

                    <p>传统的引号多是热烫法，将制作好的图案通过热烫，固定在服装商。这种操作虽然便宜，但是质量确实难以接受，洗不了几水就看不清了。</p>
                    <p>我们自己采购了高档引号机，不仅能让引出的号码精美稳固，还将引号的成本控制在最低，能提供给大家性价比最高的球衣。</p>
                  </div>
                  <div class="clearfix"></div>
                </div>
                <div class="service service-6">
                  <div class="cn-content">
                    <h4>接受样品确认</h4>

                    <p>我们自然了解服装行业的特殊性，所以我们允许客户先确认样品，再大量购买。不仅如此，我们还可以送货上门，验货后满意再购买，一切都为顾客的满意而服务。</p>
                    <p>不过目前此福利只有同城（也就是北京）能享受哦。</p>
                  </div>
                  <div class="clearfix"></div>
                </div>
                <div class="service service-7">
                  <div class="cn-content">
                    <h4>快速生产</h4>

                    <p>下单时，请不需要考虑我们的生产周期，因为我们接单后会立刻投入生产，成品检查后立刻快递。生产之间产生的费用都由我们承担，大家尽可以放心。</p>
                  </div>
                  <div class="clearfix"></div>
                </div>
                <div class="service service-8">
                  <div class="cn-content">
                    <h4>全国包顺丰</h4>

                    <p>我们选用了国内最好也最贵的顺丰快递帮我们将成衣送到您的手中。算上生产环节，我们将在5个工作日内将成衣送货上门，这个速度在全国无人能敌。</p>
                    <p><small>创业初期，我们只对500元以上的订单包邮。低于500元的我们将收取送货费用。</small></p>
                  </div>
                  <div class="clearfix"></div>
                </div>
                <div class="service service-9">
                  <div class="cn-content">
                    <h4>免费退换货</h4>

                    <p>我们在国家规定的三包基础上作出以下承诺：</p>
                    <ol>
                      <li>凡属货品质量问题，免费退换货。</li>
                      <li>客户改变初衷的，若货品设计较为大众，且未剪牌水洗的，可以免费换货。</li>
                    </ol>
                  </div>
                  <div class="clearfix"></div>
                </div>
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 col-lg-offset-1 col-md-offset-1 animate_afr">
              <div class="cn-wrapper">
                <ul>
                  <li class="circle-1 circle"><a class="active" href="#"><span class="fa fa-picture"></span></a></li>
                  <li class="circle-2 circle"><a href="#"><span class="fa fa-rocket"></span></a></li>
                  <li class="circle-3 circle"><a href="#"><span class="fa fa-puzzle-piece"></span> </a></li>
                  <li class="circle-4 circle"><a href="#"><span class="fa fa-thumbs-up-alt"></span></a></li>
                  <li class="circle-5 circle"><a href="#"><span class="fa fa-html5"></span></a></li>
                  <li class="circle-6 circle"><a href="#"><span class="fa fa-user"></span></a></li>
                  <li class="circle-7 circle"><a href="#"><span class="fa fa-google-plus"></span> </a></li>
                  <li class="circle-8 circle"><a href="#"><span class="fa fa-envelope-alt"></span></a></li>
                  <li class="circle-9 circle"><a href="#"><span class="fa fa-hand-right"></span></a></li>
                </ul>
                <div class="clearfix"></div>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Features End -->
<!-- Latest Posts start -->
<div class="latest-posts">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 com-sm-12 col-xs-12">
        <h3 class="title">热门活动</h3>
      </div>
      <div class="clearfix"></div>
      <div class="blog-showcase col-lg-12 col-md-12 col-sm-12 col-xs-12 animate_afb d1">
        <ul>
          <li class="">
            <div class="blog-showcase-thumb col-lg-4">
              <div class="post-body">
                <a class="post-item-link" href="../img/portfolio/img-portfolio.jpg" data-rel="prettyPhoto"><span
                  class="post-item-hover"></span><span class="fullscreen"><i class="fa fa-search"></i></span><img alt=""
                                                                                                                 src="../img/portfolio/img-portfolio.jpg"></a>
              </div>
            </div>
            <div class="blog-showcase-extra-info col-lg-4">
              <span><a href="#">Sep 11th, 2013</a></span>
              <h4><a href="#" class="title">Blog post title</a></h4>

              <p>Mauris sed mauris bibendum est imperdiet porttitor tincidunt at lorem. Proin augue massa</p>
              <a href="#">Read more <i class="fa fa-double-angle-right"></i></a>
            </div>
          </li>
          <li>
            <div class="blog-showcase-thumb col-lg-4">
              <div class="post-body">
                <a class="post-item-link" href="../img/portfolio/img-portfolio.jpg" data-rel="prettyPhoto"><span
                  class="post-item-hover"></span><span class="fullscreen"><i class="fa fa-search"></i></span><img alt=""
                                                                                                                 src="../img/portfolio/img-portfolio.jpg"></a>
              </div>
            </div>
            <div class="blog-showcase-extra-info col-lg-4">
              <span><a href="#">Sep 11th, 2013</a></span>
              <h4><a href="#" class="title">Blog post title</a></h4>

              <p>Mauris sed mauris bibendum est imperdiet porttitor tincidunt at lorem. Proin augue massa</p>
              <a href="#">Read more <i class="fa fa-double-angle-right"></i></a>
            </div>
          </li>
          <li class="blog-first-el">
            <div class="blog-showcase-thumb col-lg-4">
              <div class="post-body">
                <a class="post-item-link" href="../img/portfolio/img-portfolio.jpg" data-rel="prettyPhoto"><span
                  class="post-item-hover"></span><span class="fullscreen"><i class="fa fa-search"></i></span><img alt=""
                                                                                                                 src="../img/portfolio/img-portfolio.jpg"></a>
              </div>
            </div>
            <div class="blog-showcase-extra-info col-lg-4">
              <span><a href="#">Sep 11th, 2013</a></span>
              <h4><a href="#" class="title">Blog post title</a></h4>

              <p>Mauris sed mauris bibendum est imperdiet porttitor tincidunt at lorem. Proin augue massa</p>
              <a href="#">Read more <i class="fa fa-double-angle-right"></i></a>
            </div>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>
    </div>
    <div class="divider"></div>
  </div>
</div>
<!-- Latest Posts End -->
<!-- Our Clients Start-->
<div class="our-clients">
  <div class="container">
    <div class="row">
      <div class="client">
        <div class="client-logo">
          <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
            <div class="clients-title">
              <h3 class="title">大客户</h3>

              <div class="carousel-controls pull-right">
                <a class="prev" href="#client-carousel" data-slide="prev"><i class="fa fa-angle-left"></i></a>
                <a class="next" href="#client-carousel" data-slide="next"><i class="fa fa-angle-right"></i></a>

                <div class="clearfix"></div>
              </div>
            </div>
            <div class="clearfix"></div>
            <div class="row">
              <div id="client-carousel" class="client-carousel slide">
                <div class="carousel-inner">
                  <div class="item active">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 item animate_afc d1">
                      <div class="item-inner"><a href="#"><img alt="Upportdash" src="../img/clientslogo/logo-1.jpg"></a>
                      </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 item animate_afc d2">
                      <div class="item-inner"><a href="#"><img alt="Upportdash" src="../img/clientslogo/logo-1.jpg"></a>
                      </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 item animate_afc d3">
                      <div class="item-inner"><a href="#"><img alt="Upportdash" src="../img/clientslogo/logo-1.jpg"></a>
                      </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 item animate_afc d4">
                      <div class="item-inner"><a href="#"><img alt="Upportdash" src="../img/clientslogo/logo-1.jpg"></a>
                      </div>
                    </div>
                  </div>
                  <div class="item">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 item">
                      <div class="item-inner"><a href="#"><img alt="Upportdash" src="../img/clientslogo/logo-1.jpg"></a>
                      </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 item">
                      <div class="item-inner"><a href="#"><img alt="Upportdash" src="../img/clientslogo/logo-1.jpg"></a>
                      </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 item">
                      <div class="item-inner"><a href="#"><img alt="Upportdash" src="../img/clientslogo/logo-1.jpg"></a>
                      </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 item">
                      <div class="item-inner"><a href="#"><img alt="Upportdash" src="../img/clientslogo/logo-1.jpg"></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <!-- Testimonials Widget Start -->
            <div class="row ">
              <div class="testimonials widget">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <div class="testimonials-title">
                    <h3 class="title">顾客评价</h3>
                  </div>
                </div>
                <div class="clearfix"></div>
                <div id="testimonials-carousel" class="testimonials-carousel slide animate_afr d5">
                  <div class="carousel-inner">
                    <div class="item active">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="testimonial item">
                          <p>
                            蓝派的球衣质量确实没有二话。引号和队标的时候沟通也很充分，制成的球衣我和队友们都很满意。
                            如果今年能夺冠我们准备再来弄套冠军版的。
                          </p>

                          <div class="testimonials-arrow">
                          </div>
                          <div class="author">
                            <div class="testimonial-image "><img alt="" src="../img/customer1.jpg"></div>
                            <div class="testimonial-author-info">
                              <a href="http://weibo.com/u/1667751057"><span class="color">全弘昊</span></a> 北京 无限点乐
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="item">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="testimonial item">
                          <p>
                            这次集团比赛给部门做了一套，绝对秒杀其它公司的各种山寨货啊~~领导非常满意啊~~<br />
                            下次有这机会还喊我来捧场哈~~
                          </p>

                          <div class="testimonials-arrow">
                          </div>
                          <div class="author">
                            <div class="testimonial-image "><img alt="" src="../img/customer2.jpg"></div>
                            <div class="testimonial-author-info">
                              <a href="#"><span class="color">刘翌</span></a> ZOL 技术部
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="item">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="testimonial item">
                          <p>
                            稍微上了点年纪的人还是比较挑剔的，伺候一帮老爷子打球不容易。
                            经人推荐在蓝派定了今年的球衣，真不错，大家都很满意。
                          </p>

                          <div class="testimonials-arrow">
                          </div>
                          <div class="author">
                            <div class="testimonial-image "><img alt="" src="../img/customer3.jpg"></div>
                            <div class="testimonial-author-info">
                              <a href="#"><span class="color">雷霆辉</span></a> 北京化工大学
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Our Clients End -->
</div>
<!-- Content End -->
<!-- Footer Start -->
<footer id="footer">
  <!-- Footer Top Start -->
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <section class="col-lg-3 col-md-3 col-xs-12 col-sm-3 footer-one">
          <h3>关于我们</h3>

          <p>
            蓝派是一家创业团队，致力于提供中国最好的个性化定制球衣。我们相信每个人心中都有和兄弟姐妹共同奋斗的梦想，我们想帮大家实现它。
          </p>
        </section>
        <section class="col-lg-3 col-md-3 col-xs-12 col-sm-3 footer-two">
          <h3>微博</h3>
          <ul id="tweets">
          </ul>
        </section>
        <section class="col-lg-3 col-md-3 col-xs-12 col-sm-3 footer-three">
          <h3>联系我们</h3>
          <ul class="contact-us">
            <li>
              <i class="fa fa-map-marker"></i>

              <p>
                <strong>地址:</strong> 北京市朝阳区, <br>
                和平东桥北京服装学院
              </p>
            </li>
            <li>
              <i class="fa fa-phone"></i>

              <p><strong>电话:</strong> +86 010 8888 8888</p>
            </li>
            <li>
              <i class="fa fa-envelope"></i>

              <p><strong>邮箱:</strong><a href="mailto:service@lineid.com">service@lineid.com</a></p>
            </li>
          </ul>
        </section>
        <section class="col-lg-3 col-md-3 col-xs-12 col-sm-3 footer-four">
          <h3>企业风采</h3>
          <ul id="flickrfeed" class="thumbs"></ul>
        </section>
      </div>
    </div>
  </div>
  <!-- Footer Top End -->
  <!-- Footer Bottom Start -->
  <div class="footer-bottom">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6 "> &copy; Copyright 2013 by <a href="#">Lineid</a> 保留一切权利。
        </div>
        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6 ">
          <ul class="social social-icons-footer-bottom">
            <li class="新浪微博"><a href="http://weibo.com/meathill" data-toggle="tooltip" title="新浪微博"><i class="fa fa-weibo"></i></a>
            </li>
            <li class="人人网"><a href="http://www.renren.com/247814854" data-toggle="tooltip" title="人人网"><i class="fa fa-renren"></i></a></li>
            <li class="微信"><a href="#" data-toggle="tooltip" title="微信"><i class="icon-wechat"></i></a>
            </li>
            <li class="豆瓣"><a href="http://www.douban.com/people/meathill/" data-toggle="tooltip" title="豆瓣"><i class="icon-douban"></i></a>
            </li>
            <li class="腾讯微博"><a href="http://t.qq.com/meathill" data-toggle="tooltip" title="腾讯微博"><i class="icon-qq-weibo"></i></a>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- Footer Bottom End -->
</footer>
<!-- Scroll To Top -->
<a href="#" class="scrollup"><i class="fa fa-angle-up"></i></a>
</div>
<!-- Wrap End -->
<!-- The Scripts -->
<script src="//cdn.staticfile.org/jquery/2.0.3/jquery.min.js"></script>
<script src="//cdn.staticfile.org/twitter-bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//cdn.staticfile.org/jquery-parallax/1.1.3/jquery-parallax-min.js"></script>
<script src="../js/modernizr-2.6.2.min.js"></script>
<script src="../js/revolution-slider/js/jquery.themepunch.revolution.min.js"></script>
<script src="../js/jquery.nivo.slider.pack.js"></script>
<script src="../js/jquery.prettyPhoto.js"></script>
<script src="../js/superfish.js"></script>
<script src="../js/tytabs.js"></script>
<script src="../js/jquery.gmap.min.js"></script>
<script src="../js/circularnav.js"></script>
<script src="../js/jquery.sticky.js"></script>
<script src="../js/jflickrfeed.js"></script>
<script src="../js/imagesloaded.pkgd.min.js"></script>
<script src="../js/waypoints.min.js"></script>
<script src="../js/custom.js"></script>
</body>
</html>